<h1>Display your SuperHeroTeam here</h1>
<div class = "Teams">
<h3> Team Name: <%= @team.name %></h3><br>
<h3> Team Motto: <%= @team.motto %> </h3>
</div><br>


<h2>Display your first Super Hero here</h2>
<div class="SuperHeros">
Hero Name: <%= @hero_one.name %><br>
Hero Power: <%= @hero_one.power %><br>
Hero Biography: <%= @hero_one.bio %><br>


<h2>Display your second Super Hero here</h2>

Hero Name: <%= @hero_two.name %><br>
Hero Power: <%= @hero_two.power %><br>
Hero Biography: <%= @hero_two.bio %><br>

<h2>Display your third Super Hero here</h2>

Hero Name: <%= @hero_three.name %><br>
Hero Power: <%= @hero_three.power %><br>
Hero Biography: <%= @hero_three.bio %><br>



</div>



